* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.form {
    width: 400px;
    min-height: auto;
    border: 5px solid cyan;
    margin: 150px;
    border-radius: 20px;
}

.task__list {
    margin-top: 20px;
}

.item {
    width: 90%;
    height: 35px;
    border-radius: 20px;
    background-color: #000;
    color: cyan;
    font-size: 16px;
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.input {
    width: 75%;
    height: 30px;
    padding: 2px 12px;
    border-radius: 15px;
}

button {
    width: 30%;
    height: 20px;
    color: white;
    border-radius: 20px;
    border: none;
}

button:nth-child(2) {
    background-color: green;
}

button:nth-child(3) {
    background-color: red;
}

.warning {
    color: red;
    font-size: 14px;
}