* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #131212; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.form {
    width: 500px;
    min-height: auto;
    border: 5px solid cyan;
    margin: 40px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.task__list {
    margin-top: 20px;
}

.item {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: cyan;
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 75%;
    height: 30px;
    padding: 2px 12px;
    border-radius: 15px;
}

button {
    width: 30%;
    border-radius: 20px;
    border: none;
}

button:nth-child(2) {
    background-color: green;
}

button:nth-child(3) {
    background-color: red;
}

.warning {
    color: red;
    font-size: 13px;
}